html, body {
    font-family: 'Lora', "Times New Roman", serif;
    padding: 0;
    color: #383840;
    background-color: #F2F2F2;
}
.MainItem {
	text-align: left;
	width: 600px;
	margin: 0 auto;
}
.button {
	margin: 0 10px;
}
.MainItem h1,h3 {
	text-align: center;
}
p {
	text-indent: 20px;
}
p.lingua_Latina {
	font-style: italic;
	background-color: #f5f5f5;				
	text-align: justify;
	color: #787878;
	padding-right: 20px;
	margin-left: 400px;
	margin-right: 400px;
	margin-top: 30px;
	padding-bottom: 10px;
	padding-left: 20px;
	min-width: 424px;

}
.NavBlock {
	color: #0088ff;
	font-size: 150%;
	text-align: center;
}
.NavBlock a {
	padding-right: 10px;
	padding-left: 10px;
	text-transform: uppercase;
}
.TableHeader {
	font-style: bold;
}
